@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap')


h1 {
  font-size: 40px;
  font-family: "Rozha One", serif;
}

p {
  text-align: center;
  font-family: "Playfair Display"'", serif;
}
