html, body{
        background-color: aliceblue;
        width: 99.5%;
        height: 100%;
    }

    * { box-sizing: border-box;}

    h1
    {
        text-align: center;
        font-family: 'Rozha One', serif;
    }

    h4 {
        font-size: 19px;
        font-weight: bolder;
    }

    .introduction {
        font-family: 'Playfair Display', serif;
    }

    .introduction p {
      font-style: italic;
    }

    .content {
        font-family: 'Georgia', serif;
        
    }
    .content div {
        padding: 10px;
        overflow: hidden;
    }
    
    .content p {
        font-style: normal;
    }
   
    img {
      width: 200px;
      height: 200px;
      border: 2px solid black;
    }
    
    #icon1 img, #icon3 img, #icon5 img {
      float: left;
      margin-right: 10px;
    }

    .i1_twt, .i1_yt, .i1_ig {
      float: left;
    }

    .i1_twt {
      background: url('../images/socmed_icons.jfif') no-repeat -38px -60px;
      width: 45px;
      height: 45px;
    }
    .i1_twt:hover {
      background: url('../images/socmed_icons.jfif') no-repeat -109px -60px;
      width: 45px;
      height: 45px;
    }

    .i1_yt {
      background: url('../images/socmed_icons.jfif') no-repeat -38px -232px;
      width: 45px;
      height: 45px;
    }
    .i1_yt:hover {
      background: url('../images/socmed_icons.jfif') no-repeat -109px -232px;
      width: 45px;
      height: 45px;
    }

    .i1_ig {
      background: url('../images/socmed_icons.jfif') no-repeat -332px -60px;
      width: 45px;
      height: 45px;
    }
    .i1_ig:hover {
      background: url('../images/socmed_icons.jfif') no-repeat -403px -60px;
      width: 45px;
      height: 45px;
    }

    .i2_twt, .i2_yt, .i2_ig, .i2_fb {
      float: right;
    }

    .i2_twt {
      background: url('../images/socmed_icons.jfif') no-repeat -38px -60px;
	    width: 45px;
    	height: 45px;
    }
    .i2_twt:hover {
      background: url('../images/socmed_icons.jfif') no-repeat -109px -60px;
	    width: 45px;
    	height: 45px;
    }

    .i2_yt {
	    background: url('../images/socmed_icons.jfif') no-repeat -38px -232px;
	    width: 45px;
    	height: 45px;
    }
    .i2_yt:hover {
	    background: url('../images/socmed_icons.jfif') no-repeat -109px -232px;
	    width: 45px;
    	height: 45px;
    }

    .i2_ig {
	    background: url('../images/socmed_icons.jfif') no-repeat -332px -60px;
	    width: 45px;
    	height: 45px;
    }
    .i2_ig:hover {
	    background: url('../images/socmed_icons.jfif') no-repeat -403px -60px;
    	width: 45px;
    	height: 45px;
    }

    .i2_fb {
	    background: url('../images/socmed_icons.jfif') no-repeat -332px -232px;
	    width: 45px;
    	height: 45px;
    }
    .i2_fb:hover {
	    background: url('../images/socmed_icons.jfif') no-repeat -403px -232px;
	    width: 45px;
    	height: 45px;
    }

    #icon2 img, #icon4 img{
      float: right;
      margin-left: 10px;
    }
    
     #icon2 p, #icon2 h4, #icon4 p, #icon4 h4 {
       text-align: right;
     }

    footer p {
      text-align: left;
      background-color: beige;
      color: black;
      font-size: 80%;
    }

    /*Navbar content start*/
    li {
          font-size: 15px;
          font-family: 'Playfair Display', serif;
          font-family: 'Rozha One', serif;
          list-style: none;
      }
      
    p {
        text-align: justify;
        font-family: "Playfair Display", serif;
      }

    a {
          text-decoration: none;
      }
    
